$black: #080606;
$light-black: #101022;
$dark-blue: #21233d;
$blue: #292a48;
$grey: #8a8995;
$light-grey: #e0e0e0;
$white: #fff;
$dark-white: #f6f6f6;
$danger: #ff594f;
$warning: #ffbc1b;
$success: #00cd46;