.controls {
  @include reset-list();
  display: flex;
  padding: 15px;
  background: $light-black;
  border-top-left-radius: $card-radius;
  max-height: $controls-height;

  li {
    margin-right: 10px;
    display: flex;
  }
}