.navigation {
  max-height: calc(100% - #{$controls-height});
  overflow-y: auto;
  ul {
    @include reset-list();
  }

  li {
    &:hover, &.navigation__list-item--active {
      a {
        background: #292a48;
      }
    }

    a {
      @include transition(.2s);
      @include reset-button();
      display: flex;
      justify-content: space-between;
      padding: 17px 14px 17px 15px;
    }

    svg {
      font-size: 16px;
      fill: $white;
      width: 1em;
      min-width: 1em;
      height: 1em;
      min-height: 1em;
      margin-right: 9px;
    }

    span {
      @include ellipsis();
      color: $white;
      font-size: 14px;
      display: flex;
      align-items: center;
      line-height: 1;

      &.navigation__link-notification {
        color: $grey;
        font-family: "Roboto", serif;
        margin-left: 5px;
      }
    }
  }
}