<!DOCTYPE html>
<html lang="pl">
{% include '../partials/head.twig' %}
<body>
{% include '../partials/header.twig' %}
<main class="main-content">
  {% block pageWrapper %}{% endblock %}
</main>
{% include '../partials/footer.twig' %}
</body>
</html>