<div class="card">
  <div class="card__sidebar">
    {% include './controls.twig' %}
    {% include './navigation.twig' %}
  </div>
  <div class="card__content">
    {% include './issues.twig' %}
  </div>
</div>


