<ul class="controls">
  <li>
    <button class="btn btn-small btn-circle btn-danger"></button>
  </li>
  <li>
    <button class="btn btn-small btn-circle btn-warning"></button>
  </li>
  <li>
    <button class="btn btn-small btn-circle btn-success"></button>
  </li>
</ul>