<ul class="controls">
  <li>
    <button class="btn btn-small btn-round btn-danger"></button>
  </li>
  <li>
    <button class="btn btn-small btn-round btn-warning"></button>
  </li>
  <li>
    <button class="btn btn-small btn-round btn-success"></button>
  </li>
</ul>