<div class="issues">
  <time>19-07-2016</time>
  <ul class="issues__list">
    <li>
      Page Changes
      <button class="btn btn-star btn-star--active">
        {% include './icons/star.twig' %}
      </button>
    </li>
    <li>
      Review of last issues
      <button class="btn btn-star btn-star--active">
        {% include './icons/star.twig' %}
      </button>
    </li>
  </ul>

  <time>18-07-2016</time>
  <ul class="issues__list">
    <li>
      Visual UI Update Review
      <button class="btn btn-star">
        {% include './icons/star.twig' %}
      </button>
    </li>
    <li>
      Sidebar changes
      <button class="btn btn-star">
        {% include './icons/star.twig' %}
      </button>
    </li>
  </ul>

  <time>15-07-2016</time>
  <ul class="issues__list">
    <li>
      Crash update
      <button class="btn btn-star">
        {% include './icons/star.twig' %}
      </button>
    </li>
    <li>
      Page visual UI Update Review
      <button class="btn btn-star btn-star--active">
        {% include './icons/star.twig' %}
      </button>
    </li>
    <li>
      Sidebar update
      <button class="btn btn-star">
        {% include './icons/star.twig' %}
      </button>
    </li>
  </ul>

  <time>14-07-2016</time>
  <ul class="issues__list">
    <li>
      Crash issue
      <button class="btn btn-star btn-star--active">
        {% include './icons/star.twig' %}
      </button>
    </li>
    <li>
      Visual update & Crash resolve
      <button class="btn btn-star btn-star--active">
        {% include './icons/star.twig' %}
      </button>
    </li>
  </ul>
</div>