<div class="issues">
  <time>19-07-2016</time>
  <ul class="issues__list">
    <li>
      Page changes
      <input type="checkbox" name="i1" id="i1" class="issues__star-checkbox" checked/>
      <label for="i1">
        {% include './icons/star.twig' %}
      </label>
    </li>
    <li>
      Review of last issues
      <input type="checkbox" name="i2" id="i2" class="issues__star-checkbox" checked/>
      <label for="i2">
        {% include './icons/star.twig' %}
      </label>
    </li>
  </ul>

  <time>18-07-2016</time>
  <ul class="issues__list">
    <li>
      Visual UI Update Review
      <input type="checkbox" name="i3" id="i3" class="issues__star-checkbox"/>
      <label for="i3">
        {% include './icons/star.twig' %}
      </label>
    </li>
    <li>
      Sidebar changes
      <input type="checkbox" name="i4" id="i4" class="issues__star-checkbox"/>
      <label for="i4">
        {% include './icons/star.twig' %}
      </label>
    </li>
  </ul>

  <time>15-07-2016</time>
  <ul class="issues__list">
    <li>
      Crash update
      <input type="checkbox" name="i5" id="i5" class="issues__star-checkbox"/>
      <label for="i5">
        {% include './icons/star.twig' %}
      </label>
    </li>
    <li>
      Page visual UI Update Review
      <input type="checkbox" name="i6" id="i6" class="issues__star-checkbox" checked/>
      <label for="i6">
        {% include './icons/star.twig' %}
      </label>
    </li>
    <li>
      Sidebar update
      <input type="checkbox" name="i7" id="i7" class="issues__star-checkbox"/>
      <label for="i7">
        {% include './icons/star.twig' %}
      </label>
    </li>
  </ul>

  <time>14-07-2016</time>
  <ul class="issues__list">
    <li>
      Crash issue
      <input type="checkbox" name="i8" id="i8" class="issues__star-checkbox" checked/>
      <label for="i8">
        {% include './icons/star.twig' %}
      </label>
    </li>
  </ul>
</div>