<nav class="navigation">
  <ul>
    <li class="navigation__list-item--active">
      <a href="#">
        <span>
          {% include './icons/github.twig' %}
          All
        </span>
        <span class="navigation__link-notification">12</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>
          {% include './icons/open-issue.twig' %}
          Open
        </span>
        <span class="navigation__link-notification">4</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>
          {% include './icons/closed-issue.twig' %}
          Closed
        </span>
        <span class="navigation__link-notification">8</span>
      </a>
    </li>
  </ul>
</nav>