<nav class="navigation">
  <ul>
    <li>
      <a href="#">
        {% include './icons/github.twig' %}
        All
        <span>12</span>
      </a>
    </li>
    <li>
      <a href="#">
        {% include './icons/open-issue.twig' %}
        Open
        <span>4</span>
      </a>
    </li>
    <li>
      <a href="#">
        {% include './icons/closed-issue.twig' %}
        Closed
        <span>8</span>
      </a>
    </li>
  </ul>
</nav>